site_name: Code Snippets

# Repository
repo_name: huanglii/code-snippets
repo_url: https://github.com/huanglii/code-snippets
edit_uri: edit/main/docs/

# Copyright
copyright: Copyright &copy; 2025 huangli

theme:
  name: material
  language: zh
  logo: assets/logo.png
  favicon: assets/favicon.svg
  custom_dir: overrides
  icon:
    repo: fontawesome/brands/git-alt
    # tag:
    #   html: fontawesome/brands/html5
    #   js: fontawesome/brands/js
    #   css:  fontawesome/brands/css3
    #   default: fontawesome/brands/git-alt
  palette:
    # Palette toggle for light mode
    - scheme: default
      primary: teal
      accent: teal
      toggle:
        icon: material/brightness-7
        name: 深色

    # Palette toggle for dark mode
    - scheme: slate
      primary: teal
      accent: teal
      toggle:
        icon: material/brightness-4
        name: 浅色
  font:
    text: Noto Sans SC
    code: Fira Code
  features:
    - content.action.edit
    # - content.action.view
    - content.code.copy
    - content.code.annotate
    # - content.code.select
    - content.tooltips

    - navigation.instant
    - navigation.tracking
    - navigation.sections
    # - navigation.tabs
    # - navigation.tabs.sticky
    - navigation.path
    # - navigation.prune
    # - navigation.expand
    - navigation.indexes
    - navigation.top
    - navigation.footer

    - search.highlight
    - search.share
    - search.suggest

    - toc.follow
    # - toc.integrate

plugins:
  - glightbox
  - search
  - tags

extra_css:
  - stylesheets/extra.css

extra_javascript:
  - javascripts/mathjax.js
  - https://polyfill.io/v3/polyfill.min.js?features=es6
  - https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js

extra:
  social:
    - icon: fontawesome/brands/github
      link: https://github.com/huanglii
  # generator: false
  tags:
    CSS: css
    HTML: html
    JavaScript: js

# Extensions
markdown_extensions:
  - abbr
  - admonition
  - attr_list
  - def_list
  - footnotes
  - md_in_html
  - toc:
      permalink: true
  - tables
  - pymdownx.arithmatex:
      generic: true
  - pymdownx.betterem
  - pymdownx.caret
  - pymdownx.mark
  - pymdownx.tilde
  - pymdownx.critic:
      mode: view
  - pymdownx.details
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
  - pymdownx.highlight:
      linenums: true
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.keys
  - pymdownx.magiclink:
      repo_url_shorthand: true
      user: squidfunk
      repo: mkdocs-material
  - pymdownx.smartsymbols
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format
  - pymdownx.tabbed:
      alternate_style: true
  - pymdownx.tasklist:
      custom_checkbox: true

# Page tree
# nav:
#   - 第 1 章 Python:
#       - python/index.md
#       - 1.1 GeoPandas: python/geopandas.md
#   - 第 2 章 SQL:
#       - sql/index.md
#       - 2.1 Ganos:
#         - sql/ganos/index.md
#         - sql/ganos/ST_AsImage.md
  